body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-image: url(media/images/main.png);
    background-size: auto;
}

header {
    padding: 20px 0;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url(media/images/jumbotron.jpg);
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #1f7e9a;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #025aa5;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #ffffff;
    text-shadow: none;
    background-color: #0074d9;
}

.btn.btn-primary:hover {
    color: #8a9dfb;
    background-color: #0275d8;
}

.btn-secondary {
    background-color: #01315a;
    color: #ffffff;
    margin: 0 0 30px;
}

.btn.btn-secondary:hover {
    background-color: #0074d9;
}

footer {
    font-size: 12px;
    padding: 20px 0;
    border-top: 2px solid black;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}

#vk:hover {
    background-image: url("media/images/vk.png");
    -webkit-background-size: cover;
    background-size: cover;
}

.row {
    margin-bottom: 10px;
}

.search {
    border: 2px solid darkblue;
    padding-top: 10px;
}

.selection {
    display: block;
}

.input_txt {
    margin-bottom: 10px;
    width: 447px;
    border: 2px;
    border-color: #3f046f;
    background: #640cab;
    padding: 8px 15px 8px 15px;
    color:#ffffff;

}

.text_area {
    margin-bottom: 10px;
    width: 447px;
    height:118px;
    font-size: 14px;
    border: none;
    background: #0b61a4;
    padding: 8px 15px 8px 15px;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    z-index: 150;
    opacity: 80;
}

#icons:hover {
    background-color: #5bc0de;
}